{% extends "voos/layout.html" %}

{% block body %}
    <h1>Detalhes do Voo {{ voo.id }}</h1>
    
    <ul>
        <li>
            Origem: {{ voo.origin }}<br>
            Destino: {{ voo.destination }}<br>
            Duração: {{ voo.duration }} minutos
        </li>
    </ul>
    
    <h2>Passageiros</h2>
    <ul>
        {% for passageiro in passageiros %} 
            <li>{{ passageiro.first }} {{ passageiro.last }}</li>
        {% empty %}
            <li>Nenhum passageiro neste voo.</li>
        {% endfor %}
    </ul>
{% endblock %}